* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.form-container {
  margin-bottom: 5rem;
}

.container-fluid .row {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
